.summer_page_view {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 0;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 80px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 80px);
}

.form_container {
    width: 94%;
    max-width: 700px;
}

.upload_btn {
    height: 50px;
    padding: 0 16px;
    // flex: 1;

    background-color: #0cc;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material_list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .material_item {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid #c9c3c3;
        padding: 8px;

        .delete_material {
            color: #0cc;
            font-size: 14px;
            margin-top: 10px;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

.form_section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.add_material {
    background-color: #0cc;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}

.section_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-left: 4px solid #0cc;
    padding-left: 10px;
    margin-bottom: 15px;
}

.form_item {
    display: flex;
    align-items: center;
    // padding: 10px 0;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    gap: 4px;
    justify-content: space-between;

    .label {
        font-size: 16px;
        color: #0b0b0b;
        height: 100%;
        display: flex;
        align-items: center;

        &::before {
            content: '*';
            color: #ff0000;
            margin-right: 3px;
        }
    }

    .input {
        height: 100%;
        flex: 1;
        // display: flex;
        // align-items: center;
        font-size: 16px;
        text-align: justify;
        // text-align: right !important;
    }

}

.agreement {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.agreement_text,
.agreement_View {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.agreement_buttons {
    display: flex;
    margin-top: 10px;
}

.btn {
    min-width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-right: 10px;
}

.agree {
    background-color: #0cc;
    color: #fff;
}

.agreement_value {
    color: #0cc;
    font-size: 16px;
    margin-top: 5px;
}

.submit_section {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    height: 60px;
    z-index: 9999;
}

.submit_btn {
    width: 90%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #0cc;
    color: #fff;
    font-size: 16px;
    border-radius: 22px;
}

.item-content__info-title {
    color: #333;
}

textarea {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    min-height: 60px;
    max-height: 100px;
    display: flex;
    align-items: center !important;
}

.location_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    .location_text {
        flex: 1;
        font-size: 16px;
    }
}

.material_item_imgs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.emission_stage_input_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    gap: 8px;
    border-bottom: 1px solid #eee;

    .labelText {
        font-size: 16px;
        color: #0b0b0b;
        height: 100%;
        display: flex;
        align-items: center;

        &::before {
            content: '*';
            color: #ff0000;
            margin-right: 3px;
        }
    }

    input {
        // height: 40px;
        // flex: 1;
        // border: solid 1px #9d9b9b;
        // border-radius: 4px;
        // padding: 8px;
        // width: 100%;
        // box-sizing: border-box;
    }
}

.prompt {
    font-size: 12px;
    color: #666666;
}